
<Jumbo>
    <h2>Contact Us</h2>
    <p>
        Super Rentals Representatives would love to help you <br>
        choose a destination or answer any questions you may have.
    </p>
    <address>
        Super Rentals HQ
        <p>
            1212 Test Address Avenue <br>
            Testington, OR 97233
        </p>
        <a href="tel:6283934534">+91 6283934534</a><br>
        <a href="mailto:saurabhrock124@gmail.com">saurabhrock124@gmail.com</a>
    </address>
    <LinkTo class="button" @route="about"> About</LinkTo>
</Jumbo>
