
<Jumbo>
    <h2>Welcome to Super Rentals!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay</p>
    <LinkTo class="button" @route="about">About Us</LinkTo>
</Jumbo>

<Rentals @rentals={{@model}} />